

* {padding: 0;
    margin: 0;
    box-sizing: border-box;}

body{
    background-color:hsl(0, 0%, 8%);
    font-family: Inter, serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
    text-align: center;
    color: hsl(0, 0%, 100%);

}

.social-media-container{
    width: 320px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 12%);
}


img{
    display: block; 
    margin: 25px auto 15px auto;
    width: 63px;
    border-radius: 50%; 
}


.name{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.location{
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 20px;
    color: hsl(75, 94%, 57%);
}

.para{
  font-weight: 400;
  font-size: 12px;
}

.social-media-links{
  padding-top:20px;
  padding-bottom: 30px;
}


.gh, .fm, .li, .tw, .ig{
    display: block;
    text-decoration: none;
    color:hsl(0, 0%, 100%); 
    font-weight: 700;
    width: 80%;
    height: 38px;
    padding-top: 8px;
    margin: 0px auto 12px auto;
    border-radius: 4px;
    background-color: hsl(0, 0%, 20%);
}

.gh:hover, .fm:hover, .li:hover, .tw:hover, .ig:hover{
    background-color: hsl(75, 94%, 57%);
    
}

